img {
    width: 60%;
    height: auto;
}
.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}



.navbar-brand {
    display: inline-block;
    /* padding-top: 0.3359375rem; */
    /* padding-bottom: 0.3359375rem; */
    margin-right: -9rem;
    font-size: 1.09375rem;
    line-height: inherit;
    white-space: nowrap;
}

a {
    color: rgb(167, 165, 165);
    font-weight: bold;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.display-5 {
    font-size: 1.1rem;
    font-weight: 300;
    /* line-height: 1.2; */
}

.rmdb-logo {
    float: left;
}